@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<MudPaper Class="pa-4" Elevation="6">
    <MudText Typo="Typo.h4">Test area</MudText>
    
    <MudDivider Class="my-4"/>
    
    <div>
        <NotificationCountIconPublicComponent />
    </div>
</MudPaper>