@using Advice.Web.Producer.Modules.Finance.Module.Components.ViewFinanceInfo

@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<MudPaper Class="pa-4" Elevation="6">
    <MudText Typo="Typo.h4">Test area</MudText>

    <MudDivider Class="my-4"/>

    <div>
        <ViewFinanceInfoPublicComponent />
    </div>
</MudPaper>