@inject NavigationManager NavigationManager
@inherits LayoutComponentBase

<MudThemeProvider @rendermode="InteractiveAuto"/>
<MudDialogProvider @rendermode="InteractiveAuto" />
<MudSnackbarProvider @rendermode="InteractiveAuto" />

<div>
    <MudLayout Class="main_bg">
        <MudMainContent>
            <MudContainer MaxWidth="MaxWidth.Large">
                @Body
            </MudContainer>
        </MudMainContent>
    </MudLayout>
</div>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>